{% load static %}
{% with channel=show.channel %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 uploader">
    <figure>
        <a href="#">
            <img src='{{ channel.owner.get_gravatar_url }}' alt="" />
        </a>
    </figure>
    <div class="aboutuploader">
        <h5><a href="#">By {{ channel }}</a></h5>
        <time datetime="{{ show.created|date:"d-m-Y" }}">Created: {{ show.created|date:"d M Y" }}</time>
        <br>
        <div>
            <a class="btn btn-primary btn-xs backcolor" href="#">Like</a>
        </div>
    </div>
</div>
{% endwith %}
<!-- TODO: Show stats -->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats">
    <hr class="visible-xs">
    <ul>
        <li class="likes">
            <h5>Likes</h5>
            <h2>0</h2>
        </li>
        <li class="views">
            <h5>Views</h5>
            <h2>0</h2>
        </li>
    </ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 videoshare">
    <ul>
        <li class="facebook">
            <i class="fa fa-facebook"></i>
            <div class="shaingstats">
                <h5>0</h5>
                <p>Shares</p>
            </div>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" class="link" target="_blank"></a>
        </li>
        <li class="twitter">
            <i class="fa fa-twitter"></i>
            <div class="shaingstats">
                <h5>0</h5>
                <p>Tweets</p>
            </div>
            <a href="http://www.twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&text=Watch {{ show.title }} now on Wstreams:&hashtags=wstreams" class="link" target="_blank"></a>
        </li>
        <li class="gplus">
            <i class="fa fa-google-plus"></i>
            <div class="shaingstats">
                <h5>0</h5>
                <p>Shares</p>
            </div>
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}" class="link" target="_blank"></a>
        </li>
    </ul>
</div>