{% extends "shows/admin.html" %}
{% load i18n static %}

{% block title %}
{% if channel %}{% blocktrans with channel=channel.name %}Update &quot;{{ channel }}&quot;{% endblocktrans %}{% else %}{% trans "Create your Channel" %}{% endif %}
{% endblock %}

{% block admin_title %}
<li class="active">{% trans "Channel" %}</li>
{% endblock %}

{% block admin_content %}
<div class="sections">
    <h2 class="heading">
            {% if channel %}{% blocktrans with channel=channel.name %}Update &quot;{{ channel }}&quot;{% endblocktrans %}{% else %}{% trans "Create your Channel" %}{% endif %}
    </h2>
    <div class="clearfix"></div>
    <div class="row">
        {% include "partials/form_error.html" with form=form %}
        <div class="col-lg-4 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
            <div class="avatar">
                <p>
                    Owner: {{ user.get_full_name }}<br />
                    Email: {{ user.email|urlize }}<br />
                    Phone: {{ user.phone }}
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form method="post" enctype="multipart/form-data" action="" novalidate>
                <div class="tabsect">
                    <ul class="nav nav-tabs"></ul>
                    <div class="tab-content">
                        <div id="channel-info" class='tab-pane active'>
                            {% include "partials/form_field.html" with fld=form.name css="form-control" %}
                            {% include "partials/form_field.html" with fld=form.description css="form-control" %}
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    {% csrf_token %}{% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                    <button type="submit" class="btn btn-primary backcolor">{% trans "Submit" %}</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrabody %}
{{ form.media }}
{% endblock %}
