{% extends "base_site.html" %}
{% load i18n static %}

{% block title %}{{ show.title }}{% endblock %}

{% block extrahead %}
<meta property="og:title" content="{{ show.title }}">
<meta property="og:description" content="{{ show.description }}">
<meta property="og:type" content="video.other">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ show.poster.url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 conentsection">
    <div class="blogdetail sections">
        <div class="videobox2 bootstrap-carousel">
            <div class="carousel">
                {% include "shows/partials/video.html" with show=show save_stats=True %}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo">
            <div class="row">
                {% include "shows/partials/show-info.html" with show=show %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 graysidebar">
    <div class="widget">
        <h2 class="heading">{% trans "Related Shows" %}</h2>
        {% include "shows/partials/related.html" with item=show %}
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block extrabody %}
<script src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
<script src='{% static "js/video-player.js" %}'></script>
{% endblock %}