{% extends "base_mail.html" %}

{% block content %}
<p>
    Hello {{ user.get_short_name }},
</p>
<p>
    Please confirm your email by clicking on, or copying the URL below, 
    and pasting it into your browser:
</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{{ url }}">{{ protocol }}://{{ domain }}{{ url }}</a>
</p>
<p>
    Kind regards,<br>
    The WStreams Team
</p>
{% endblock %}
